@charset "utf-8";
html,body{height:100%;margin: 0;}
header{background-color:purple ;min-height: 10%;}
section{background-color: silver;}
article{background-color: aqua;flex:1;order: 2;}
div{background-color: orange;min-width: 20%;}
aside{background-color: olive;min-width: 200px;order: 3;}
footer{background-color: purple;min-height: 10%;}
body{display:flex;flex-flow: column wrap;}
section{background-color: silver;display:flex;flex-flow: row wrap;flex: 1;align-items: stretch;}
p{text-align: center;}
p1{text-decoration: line-through;}
form{text-align: center;vertical-align: center;letter-spacing: 2px;}

